/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav ul{
    width: 100%;
    background-color: black;
    position: absolute;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 2.5em;
    font-size: 1.2rem;
    text-align: center;
}
nav a:hover{
    background-color: darkcyan;
}
/* MENU PRIMER NIVEL */
nav > ul > li{
    display: inline-block;
    width: 250px;
    line-height: 50px;
   
} 
ul li {
    position: relative;

}
/* MENU SEGUNDO NIVEL */
nav  li  li{
    max-height: 0;
    overflow: hidden;
    
}
nav li:hover > ul > li{
    visibility: visible;
    max-height: 500px;
    overflow: visible;
    border: 1px solid whitesmoke;
}
/* MENU TERCER NIVEL */
nav ul ul ul {
    left: 100%;
    top: 25%;
}